
body{
  text-align: center;
  background:linear-gradient(#5DA4D4, white);
  height: 100vh;
  font-family: Baloo;
  color:white;
  font-weight: bold;
}

button, input{
  padding:5px;
  border:none;
  color:white;
  border-radius:3px;
  margin:5px;
  font:inherit;
  font-weight: inherit;
}

#add-end, #add-beginning{
  background: #80D87F;
}

#remove-end, #remove-beginning{
  background-color: #E23349;
}

#emoji-container span{
  font-size: 60px;
  color:black;
  margin:0;
  padding-left:0;
}
