body{
  margin:0;
  padding:0;
  font-family: 'Montserrat', sans-serif;
  color: #282828;
}

header{
  background:#282828;
  color:whitesmoke;
}

h1{
  margin:0; 
  font-size:18px;
  font-weight:700;
}

.header-div{
  display:flex;
  justify-content:space-between;
  padding:20px 0;
}
.company-name{
  display:flex; 
  justify-content:start;
  gap:20px;
  padding-left:25px;
}

.logo{
  width:25px;
  padding:0 10px;
}


.nav-bar-icon{
  width:25px;
  padding-right:15px;
  cursor:pointer;
}


.tagline{
  font-size: 40px;
  font-weight: 400;
  margin: 30px 25px;
}

.spaces{
  width:100%;
  display:block;
}

.excl-section{
  position:relative;
}

.excl-div{
  background:#cd6858;
  padding:10px;
  position:absolute;
  top:0;
  left:0;
  cursor:pointer;
}

.caption-div{
  display:flex;
  justify-content:space-between;
  
}

p{
  margin-left:20px;
}

a{
  text-decoration:none;
  background:#cd6858;
  color:#282828;
  align-self:center;
  padding:10px;
  margin-right:20px;
  cursor:pointer;
}

.chat-div{
  background:#dda15e;
  width:40px;
  height:40px;
  cursor:pointer;
  display:flex;
  position:fixed;
  bottom:6px;
  right:6px;
  border-radius:50%;
  box-shadow: 1px 1px 5px #999;
}

.chat-msg{
  width:50%;
  margin:auto;
  
}