body{
  text-align:center;
  background-image: url("images/table.png");
  background-size: cover;
  color:white;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight:bold;
}

h1{
  color:goldenrod;
}

button{
  border:none;
  background:goldenrod;
  color:darkgreen;
  font-weight: bold;
  padding:10px;
  border-radius: 3px;
  margin:10px 4px;
}

#start-btn:disabled{
  background: lightgray;
}

#newCard-btn:disabled{
  background:lightgray;
}

#message-el{
  font-style:italic;
}