body{
  background:steelblue;
  font-family:'Roboto';
  font-size:15px;
}

img{
  display:block;
  width:100px;
  margin:30px auto;
}

form{
  display:flex;
  flex-direction:column;
  width:230px;
  margin:0 auto;
  box-shadow: 1px 1px 30px 2px whitesmoke;
  border-radius:5px;
  padding:20px;
}


input{
   padding:7px 10px;
   margin:10px 0;
   border: 1px solid #0891b2;
   border-radius:5px;
}

input:focus{
  outline:none;
  border:5px solid lightblue;
}

label{
  color:whitesmoke;
  font-size:18px;
}

.submit-btn{
  background:red;
  color:white;
  padding:10px; 
  text-transform:uppercase;
  font-weight:bold;
  font-family:inherit;
}